<!DOCTYPE html>
<html>
  <head>
    <base href="/" />
    <meta charset="utf-8">
    <title>{{ options.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href="/styles/css/styles.css" >
  </head>
  <body>
    
    <div 
        data-session="{{ session.id }}" 
        data-username="{{ session.username }}" 
        data-email-verified="{{ session.email_verified }}"
        data-loggedIn="{{ loggedIn }}" 
        class="data" 
        id="data" 
    ></div>

    {{> needs}}

    <div class="{{#if session.id }}header_loggedin{{else}}index_header{{/if}}">

        {{# if session.id}}
            <div class="left">
                <a href="/">Home</a>
                <a href="/explore" >Explore</a>
            </div>
        {{/if}}

        <div class="right">
            {{# if session.id}}
                <a href="/profile/{{session.id}}" class='vp' >{{session.username}}</a>
                <a href="/edit">Edit profile</a>
                <a href="/logout" >Logout</a>
            {{ else }}
            <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            {{/if}}
        </div>

    </div>